{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<head>
    <title>Azure</title>
</head>
<body>
    <table>
        <caption>
            在庫一覧
        </caption>
        <thead>
            <tr>
                <th scope="col">商品名</th>
                <th scope="col">数量</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items: %}
            <tr>
                <th scope="row">
                    {{ item.name }}
                </th>
                <td>
                    {{ item.count }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}